// Цвета
$primary-color: #646cff;
$primary-color-hover: #535bf2;
$background-dark: #242424;
$background-light: #ffffff;
$text-dark: #213547;
$text-light: #ffffff;

// Шрифты
$font-family-base: system-ui, Avenir, Helvetica, Arial, sans-serif;

// Прочее
$max-width: 1280px;
$border-radius: 8px;
$transition-fast: 0.25s;